body {    
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    /*基于当前字体尺寸font-size*/
    background: #e6e6e6;
}

/* form basic style */
form {
    box-sizing: border-box;
    width: 800px;
    margin: 20vh auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-item { 
    padding: 20px 50px; 
}
.form-item > label {
    font-size: 1.1em;
    /*基于父元素的font-size*/
}


/* radio type style */
.radio { 
    text-align: right; 
}
.radio label:first-child { 
    margin-right: 250px; 
}
.radio input[type="radio"] { 
    display: none;
 }
.radio input[type="radio"] + span{
    display: inline-block;
    margin: -1px 8px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%; 
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;  
}

.radio input[type="radio"]:checked + span { 
    width: 8px;
    height: 8px;
    border: 8px solid #3796fa;
}


/* select type style */
.select select { 
    box-sizing: border-box; 
    /*paddign和border的width/height被囊括到内容的width和height中*/
    width: 150px;
    margin-left: 20px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #bbb;
    border-radius: 5px;
 }
 .select select:last-child {     
    width: 350px;
    margin-left: 36px;
 }

/* text type style */
.text { 
    text-align: right;
     }
.text input {
    box-sizing: border-box;
    margin-left: 20px;
    width: 540px;
    padding: 10px;
    font-size: .9em;
    border: 2px solid #bbb;
    border-radius: 5px;
}
.text input:focus { 
    border-color: rgb(77, 144, 254); 
}


/* tool style */
.hidden {
    display: none;
}